@import "tailwindcss";

/* Fichiers à scanner pour les classes Tailwind (HTML + JS à la racine) */
@source "../*.html";
@source "../**/*.js";

/* Variables de design : couleurs, typo, rayons, espacements généraux */
@theme {
  /* Couleurs */
  --color-primary: #ffd15b;
  --color-white: #ffffff;
  --color-dark: #1b1b1b;
  --color-gray: #7a7a7a;
  --color-light-gray: #ededed;

  /* Typographie */
  --font-Anton: "Anton", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --text-heading: 44px;
  --text-result: 21px;

  /* Border Radius */
  --radius-ui: 10px;
  --radius-card: 1rem;

  /* Gap */
  --gap-filters: 65px;

  /* Shadow*/
  --shadow-search: 0 4px 24px rgb(0 0 0 / 0.18);
}
