# Dépendances
node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# IDE / éditeur
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*


# Optionnel : décommenter si tu ne veux pas versionner le PDF
*.pdf

#Config Claude
.Claude