# Dépendances
node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# IDE / éditeur
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*


# Optionnel : décommenter si tu ne veux pas versionner le PDF
Cas+d’utilisation+#03+_+Filtrer+les+recettes+dans+l’interface+utilisateur+-+Front-end+P6+(Algorithms)+.pdf

# Optionnel : docx
*.docx


#Config Claude
.Claude